.service-container{
    border: 1px solid lightgray;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
     
}
 
.service-container img{
    margin-left: 2px;
}
 